# Supabase-related variables
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Project admin-related variables
CRON_SECRET=
WEBHOOK_SECRET=
NEXT_PUBLIC_WHATSAPP_NUMBER=
ADMIN_EMAIL=
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
NEXT_PUBLIC_SITE_URL=
MASTER_ADMIN_ID=