@config "../../tailwind.config.ts";
@import "tailwindcss";

:root {
  --background: #D8DFE0;
  --foreground: #626260;
  --brand-bg: #D8DFE0;
  --brand-mauve: #CAA4A9;
  --brand-olive: #A0A65E;
  --brand-charcoal: #626260;
  --brand-white: #FFFFFF;
  --popover: #FFFFFF;
  --popover-foreground: #626260;
  --muted: #E5E7EB;
  --muted-foreground: #9CA3AF;
  --accent: #F3F4F6;
  --accent-foreground: #626260;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-playfair-display);
  --color-brand-bg: var(--brand-bg);
  --color-brand-mauve: var(--brand-mauve);
  --color-brand-olive: var(--brand-olive);
  --color-brand-charcoal: var(--brand-charcoal);
  --color-brand-white: var(--brand-white);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-playfair-display), serif;
}
